/**
 * core:/Template/Css/Mark.css
 *
 * @creation  2016-11-30
 * @version   1.0
 * @package   core
 * @author    Tomoaki Nagahara <tomoaki.nagahara@gmail.com>
 * @copyright Tomoaki Nagahara All right reserved.
 */

div.OP_MARK {
	margin:			 0		 !important;
	padding:		 0		 !important;
	margin-top:		 0.5em	 !important;
	margin-bottom:	 0.2em	 !important;
	font-size:		 9pt	 !important;
	font-family: Avenir, sans-serif, _Consolas, '_Courier New', _Courier, Monaco, monospace;
	line-height: 1.1em;
}

div.OP_MARK .line {
	margin-left:  0.5em;
	margin-right: 0.5em;
}

div.OP_MARK span.mark {
	margin: 0;
}

div.OP_MARK span.mark span.args {
	margin: 0;
}

div.OP_MARK span.mark span.args span.value {
	margin: 0;
	margin-right: 0.5em;
}

div.OP_MARK span.mark span.value.NULL {
	color: red !important;
}

div.OP_MARK span.mark span.value.boolean.true {
	color: blue !important;
}

div.OP_MARK span.mark span.value.boolean.false {
	color: red !important;
}

div.OP_MARK span.mark span.args span.value.string {
	color: green;
}

div.OP_MARK span.mark span.args span.integer,
div.OP_MARK span.mark span.args span.double {
	color: black;
}

div.OP_MARK span.mark span.args sapn.integer {

}

div.OP_MARK span.mark span.args span.double {
	font-style: italic !important;
}

div.OP_MARK span.mark span.args span.value span.space,
div.OP_MARK span.mark span.args span.value span.tab,
div.OP_MARK span.mark span.args span.value span.line-feed,
div.OP_MARK span.mark span.args span.value span.carriage-return {
	color: #c0c0c0;
}

div.OP_MARK span.mark span.args span.value span.space {
	position: relative;
	top: 0.2em;
}
