/**
 * core:/Template/Css/Notice.css
 *
 * @creation  2016-11-17
 * @version   1.0
 * @package   core7
 * @author    Tomoaki Nagahara <tomoaki.nagahara@gmail.com>
 * @copyright Tomoaki Nagahara All right reserved.
 */
div.OP_NOTICE * {
	margin:  0		 !important;
	padding: 0		 !important;
	font-size: 9pt	 !important;
	color: black	 !important;
	background-color: white !important;
}

div.OP_NOTICE{
	margin-top: 0.5em;
}

div.OP_NOTICE p {
	font-weight: bold;
}

div.OP_NOTICE table {
	margin-left: 0.5em !important;
	border: 0px solid black;
}

div.OP_NOTICE table tr td:nth-of-type(2) {
	text-align:    right !important;
	padding-left:  0.5em !important;
	padding-right: 0.5em !important;
}

div.OP_NOTICE table tr td span.args{
	_font-style: italic;
	margin: 0.1em !important;
	_margin-right: 0.2em !important;
}

div.OP_NOTICE table tr td span.args span.true{
	color: blue !important;
}

div.OP_NOTICE table tr td span.args span.false{
	color: red !important;
}

div.OP_NOTICE table tr td span.args span.null{
	color: red !important;
}

div.OP_NOTICE table tr td span.args span.string{
	color: green !important;
}